$primary_bg:light-grey;
.tip {
    height: 5em;
    width: 70%;
    background-color: lightgrey;
    border: solid 2px darkgrey;
    margin: auto;
    line-height: 5em;
    padding-left: 1em;

}

.tipna {
    font-weight: 900;
}